<div class="content-wrap">
  <div class="side-nav-cont-wrap">

    <side-nav></side-nav>
  </div>
  <div class="right-sec-wrap" >
    <div class="top-nav" >
      <top-nav></top-nav>
    </div>
    <div class="app-content" >
      <router-outlet></router-outlet>
    </div>
  </div>

</div>



