.content-wrap{
  width: 100%;
  height: 100%;
  display: flex;

  .side-nav-cont-wrap{
    flex: 0 0 20%;
    // display: flex;
    width: 100%;
    height: 100%;
    max-width: 230px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 7px 0 rgba(0, 0, 0, 0.12) !important;
    border-right: 1px solid #f1f1f1;
  }

  .right-sec-wrap{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    .top-nav{
      box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.16), 0 2px 1px 0 rgba(0, 0, 0, 0.12) !important;
      // padding: 15px;
      // padding: 15px;
    }
    .app-content{
      // display: flex;
      // flex: 1;
      height: 100%;
      width: 100%;
      padding: 15px;
    }
  }
}
