<div class="left-nav-wrap">

  <div class="logo-section" >
      <img class="img-responsive" src="../../../assets/img/logo.png" alt="">

    </div>
    <div class="menu-wrap" >
      <ul class="menu-ul" >
        <li class="active">
          <span class="each-menu-item" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
            <span>Dashboard</span>
          </span>
        </li>
        <li class="">
          <span class="each-menu-item" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">card_giftcard</mat-icon>
            <span>My Privillage</span>
          </span>
        </li>
        <li class="">
          <span class="each-menu-item" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>
            <span>My Booking</span>
          </span>
        </li>
        <li class="">
          <span class="each-menu-item" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
            <span>Notifications</span>
          </span>
        </li>
        <li class="">
          <span class="each-menu-item" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>
            <span>My Account</span>
          </span>
        </li>
      </ul>
    </div>
</div>
