.left-nav-wrap{
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  .logo-section{
    width: 100%;
    height: 100px;
    text-align: center;

    img{
      max-height: 100%;
    }
  }

  .menu-ul{
    padding: 0;
    list-style: none;

    li{
      position: relative;
      &.active{
        background: #f6f9fd;
        &:before{
          content: "";
          position: absolute;
          width: 2px;
          height: 100%;
          background: #347bde;

        }
      }
      &:hover{
        background: #f6f9fd;
        cursor: pointer;
        &:before{
          content: "";
          position: absolute;
          width: 2px;
          height: 100%;
          background: #347bde;

        }
      }

      .each-menu-item{
        padding: 10px 10px;
        display: flex;
        vertical-align: middle;
        align-items: center;

        mat-icon{
          text-align: center;
          font-size: 20px;
        }

        span{
          display: inline-block;
          font-size: 14px;
          padding: 0px 15px;
        }
      }
    }
  }
}
