<div class="cont-wrap" >
  <p>Dashboard </p>

  <!-- Intro section -->
  <div class="intro-sec-wrap" >
    <div class="sec-left">
      <img src="../../../../assets/img/slide.png" alt="">
    </div>
    <div class="sec-right">
      <div class="each-sec" >
      </div>
      <div class="each-sec" >
      </div>
      <div class="each-sec" >
      </div>
    </div>
  </div>
  <!-- Intro section ends-->

  <!-- Unit display section-->
  <div class="unit-display-sec-wrap" >
    <div class="unit-each-sec sec-head">
      <span>UPSIDE AVENUE</span>
    </div>

    <div class="unit-each-sec sec-tiles-wrap">
      <div class="unit-card-wrap" *ngFor="let el of [1,2,3]" >

        <mat-card class="">
          <mat-card-content>
            <div class="cont-wrap">
              <div class="top" >
                <img src="../../../../assets/img/build.png" alt="">
                <span>UNIT</span>
              </div>
              <div class="bottom">01 - 05</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="unit-card-wrap" >

        <mat-card class="">
          <mat-card-content>
            <div class="cont-wrap">
              <span class="add-icon material-icons">
                add
                </span>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

      <!-- <div class="unit-card-wrap" >

        <mat-card class="">
          <mat-card-content>
            <div class="cont-wrap">
              <div class="top" >Top</div>
              <div class="bottom">Bottom</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div> -->
    </div>
  </div>

</div>
