.cont-wrap{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .intro-sec-wrap{
    display: flex;
    padding-bottom: 15px;
    .sec-left{
      flex: 0 0 70%;

      img{
        width: 100%;
        border-radius: 15px;
      }
    }
    .sec-right{
      flex: 0 0 30%;
      padding: 0px 15px;
      display: flex;
      flex-direction: column;
      height: 100%;

      .each-sec{
        flex: 1;
        background-image: url(../../../../assets/img/slide.png);
        margin-bottom: 10px;
        border-radius: 15px;
        background-size: cover;
        &:last-child{
          margin: 0;
        }
        img{
          height: 100px;
        }
      }
    }
  }

  /*
  * --- UNIT DISPLAY SEC
  */
  .unit-display-sec-wrap{
    display: flex;
    padding: 15px 0px;
    flex-direction: column;

    .unit-each-sec{
      flex: 1;
      display: flex;
    }

    .sec-tiles-wrap{
      padding: 15px 0px;
    }
  }
}

.unit-card-wrap{
  flex: 0 0 20%;
  margin: 0 15px;
  &:first-child{
    margin-left: 0;
  }

  mat-card{
    padding: 0;
    border-radius: 10px;
  }

  .cont-wrap{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;

    .add-icon{
      font-size: 45px;
    }

    .top{
      flex: 0 0 60%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        height: 27px;
      }
      span{
        font-size: 25px;
      }
    }
    .bottom{
      flex: 0 0 40%;
      background: #3e3bae;
      color: #fff;
      display: flex;
      border-radius: 0 0 10px 10px;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      width: 100%;
    }
  }
}
