.nav-item{
  flex: 1;
  display: flex;

  .dd{
    min-width: 176px;
    padding: 0px 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    margin: 0 15px;
  }
}
.right{
  justify-content: flex-end;
  display: flex;

  ul{
    display: inline-block;
    list-style: none;

    li{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
      position: relative;

      &::before{
        content: "";
        width: 1px;
        height: 100%;
        background: #ddd;
        position: absolute;
        left: 0;
      }

      span{
        display: flex;
        padding: 0px 5px;
      }
      .notification{
        position: relative;
        &::before{
          content: "";
          width: 12px;
          height: 12px;
          background: orange;
          border-radius: 10px;
          left: 1px;
          top: 1px;
          position: absolute;
          border: 2px solid #fff;
        }
      }

      .u-name{
        flex-direction: column;
        font-size: 12px;
        padding: 0px 15px;

        span:last-child{
          font-size: 10px;
        }
      }
      img{
        width: 25px;
        height: 25px;
        border-radius: 41px;
      }
    }
  }
}
