<nav class="navbar navbar-expand-md ">
  <div class="left nav-item" >
    <div>

      <img src="../../../assets/img/toggle.png" alt="">
    </div>
    <div class="dd">
      <mat-select >
        <mat-option *ngFor="let options of options" [value]="options">
          {{options}}
        </mat-option>
      </mat-select>
    </div>


  </div>
  <div class="right nav-item" >
    <ul>
      <li>
        <span class="notification">
          <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
        </span>
        <span>
          <img src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2020/04/hrithik-1587013411.jpg" alt="">
        </span>
        <span class="u-name" >
          <span>User Name</span>
          <span>USer</span>
        </span>
      </li>
    </ul>
  </div>
</nav>
