.cont-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-cont {
    width: 80%;
    min-height: 60%;
    display: flex;
    max-width: 900px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .left{
      flex: 0 0 60%;
      background: url(../../../assets/img/login-bg.png) no-repeat;
      background-size: cover;
    }

    .right{
      flex: 0 0 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .right-wrap {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo-wrap{
          text-align: center;
          flex: 0 0 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          p{
            padding: 10px;
          }
        }

        .login-form-wrap {
          flex: 0 0 75%;
          width: 100%;

          .inner-pad{
            padding: 15px 0px;

            button{
              min-width: 150px;
              border-radius: 0;
              background-color: #326ada;
            }
          }
        }
      }

    }
  }
}

.full-width{
  width: 100%;
}
.theme-color{
  color: #326ada
}
.font-12{
  font-size: 12px;
}
