<div class="cont-wrap">
  <div class="card-cont">
    <div class="left"></div>
    <div class="right">
      <div class="right-wrap">
        <div class="logo-wrap">
          <img src="../../../assets/img/logo.png" alt="" />
          <p>LOGIN</p>
        </div>
        <div class="login-form-wrap">
          <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input appearance="outline" matInput placeholder="Email" formControlName="email" />
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input type="Password" matInput placeholder="Password" formControlName="password" />
                </mat-form-field>
              </div>

              <div class="col-sm-12 text-right ">
                <span class="theme-color font-12">Forgot Password ?</span>
              </div>
              <div class="col-sm-12 text-center inner-pad">
                <button mat-raised-button color="primary" type="submit">LOGIN</button>
              </div>
              <div class="col-sm-12 text-center inner-pad">
                <p class="font-12">Don't Have an Account ? <span class="theme-color">Register</span></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
